<simple-modal title="Modificar Estado Etapa" elementId="modificarEtadoEtapa">
  <div class="container top-buffer">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Estado Actual</label>
            <div class="col-sm-5">
              <label class="normal-label" id="estadoActualEtapaModal"></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Nuevo Estado</label>
            <!--<label class="col-sm-4 col-form-label" >Fecha Inicio</label>-->
            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="estadoEstapaSeleccionado" name="estadoEstapaSeleccionado" required
                      id="estadoEstapaSeleccionado">
                <option value="-1">-- Seleccione --</option>
                <option value="0">APROBADA</option>
                <option value="1">EN_ESPERA</option>
                <option value="2">RECHAZADA</option>
                <option value="3">EN_REVISION</option>
              </select>
            </div>
          </div>
        </div>
        <div class="top-buffer">
          <!--<input type="button" class="btn btn-secondary" />-->
          <button type="button" class="btn btn-primary" (click)="modificarEstadoEtapa()"><span
            class="glyphicon glyphicon-ok"></span> Modificar
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><span
            class="glyphicon glyphicon-remove"></span> Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</simple-modal>
