<h3>Detalle de la Oferta</h3>
<!--<app-etapas-oferta [etapasOferta]="etapasOferta"></app-etapas-oferta>-->
<h4>Etapas de la Oferta</h4>

<hr class="sep-tt top-buffer">

<table class="table table striped table-bordered top-buffer">
  <thead class="thead-inverse">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
    <th>Cantidad a Selecccionar</th>
    <th>Opciones</th>
    <!--TODO: cuando se tenga el de de Aplicar a Oferta,  puede traer el estao-->
    <!--<th>Estado</th>-->
  </tr>
  </thead>
  <tbody>
  <tr class="table" *ngFor='let etapaOferta of etapasOferta'>
    <td>{{etapaOferta.nombre}}</td>
    <td>{{etapaOferta.descripcion}}</td>
    <td>{{etapaOferta.fechaInicio | date:'shortDate'}}</td>
    <td>{{etapaOferta.fechaFin | date:'shortDate'}}</td>
    <td>{{etapaOferta.cantidadASeleccionar}}</td>
    <td>
      <button title="Ver" class="btn btn-primary" (click)="consultarDetalleEtapa(etapaOferta.id)">
      <span class="glyphicon glyphicon-search"></span>
      Ver Detalle Etapa</button>
    </td>
  </tr>
  </tbody>
</table>



<div class="top-buffer">
  <a class="btn btn-primary" [routerLink]="['/oferta/detalle-oferta-solicitante', idOferta]" role="button"><span
    class="glyphicon glyphicon-menu-left"></span>Atrás</a>
</div>
