<h4>Datos de Usuario</h4>
<hr class="sep-tt">
<div class="container">
  <br>
  <div class="row">
    <div class="form-group">
      <label class="col-sm-2">Usuario</label>
      <div class="col-sm-4">
        <label class="normal-label">{{usuario.username}}</label>
      </div>
      <label class="col-sm-2">Correo Electrónico</label>
      <div class="col-sm-4">
        <label class="normal-label">{{usuario.correoElectronico}}</label>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<h4>Detalle Usuario</h4>
<hr class="sep-tt">
<div class="container">
  <br>
  <div class="row">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">NIT</label>
      <div class="col-sm-4">
        <label class="normal-label">{{usuario?.infoUsuario?.nit}}</label>
      </div>

      <label class="col-sm-2 col-form-label">Nombre o Razón Social</label>
      <div class="col-sm-4">
        <label class="normal-label">{{usuario.nombre}}</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Pais</label>
      <div class="col-sm-4">
        <label class="normal-label">{{usuario?.infoUsuario?.pais.nombre}}</label>
      </div>

      <label class="col-sm-2 col-form-label">Tipo Entidad</label>
      <div class="col-sm-4">
        <label class="normal-label">{{usuario?.infoUsuario?.tipoEntidad.nombre}}</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Descripción</label>
      <div class="col-sm-10">
        <label class="normal-label">{{usuario?.infoUsuario?.descripcion}}</label>
      </div>
    </div>
  </div>
</div>
<br>

<hr class="sep-tt">
