<!--<form #formDetalleOfertaSolicitante="ngForm" class="form-horizontal"-->
      <!--(ngSubmit)="consultarOfertas(formConsultarOferta.value)">-->
<form #formDetalleOfertaSolicitante="ngForm" class="form-horizontal">

  <!--<h3>Detalle de la Oferta</h3>-->

  <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading font-bold"><span class="glyphicon glyphicon-info-sign"></span> Información Básica de la Oferta</div>-->
    <!--<div class="panel-body">-->
      <!--<div class="row">-->
        <!--<label class="col-sm-2">Nombre:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.nombre}}</label>-->
        <!--<label class="col-sm-2">Tipo Oferta:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.id_tipo_convocatoria}}</label>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<label class="col-sm-2">Fecha Inicio:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.fecha_inicio | date:'shortDate'}}</label>-->
        <!--<label class="col-sm-2">Fecha Fin:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.fecha_fin | date:'shortDate'}}</label>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


    <!--<hr class="sep-tt">-->
    <!--<div class="panel panel-default top-buffer">-->
      <!--<div class="panel-heading font-bold"><span class="glyphicon glyphicon-list"></span> Descripción</div>-->
      <!--<div class="panel-body">-->
        <!--<span class="col-sm-10">{{detalleOferta.descripcion}}</span>-->
      <!--</div>-->
    <!--</div>-->

  <!--<div class="panel panel-default top-buffer">-->
    <!--<div class="panel-heading font-bold"><span class="glyphicon glyphicon-check"></span> Requisitos</div>-->
    <!--<div class="panel-body">-->
      <!--<span class="col-sm-10">{{detalleOferta.requisitos}}</span>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="panel panel-default top-buffer">-->
    <!--<div class="panel-heading font-bold"><span class="glyphicon glyphicon-list-alt"></span> Condiciones</div>-->
    <!--<div class="panel-body">-->
      <!--<span class="col-sm-10">{{detalleOferta.condiciones}}</span>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="panel panel-default top-buffer">-->
    <!--<div class="panel-heading font-bold"><span class="glyphicon glyphicon-plus"></span> Información Adicional</div>-->
    <!--<div class="panel-body">-->
      <!--<span class="col-sm-10">{{detalleOferta.informacion_adicional}}</span>-->
    <!--</div>-->
  <!--</div>-->



  <app-detalle-oferta [detalleOferta]="detalleOferta" ></app-detalle-oferta>

  <div class="top-buffer">
    <button class="btn btn-primary" (click)="consultarEtapasOferta(detalleOferta.id)">
      <span class="glyphicon glyphicon-search"></span> Ver Etapas
    </button>
  </div>

  <hr class="sep-tt top-buffer">

  <div class="top-buffer">
    <button class="btn btn-primary" (click)="aplicarOferta()">
      <span class="glyphicon glyphicon-pencil"></span>
      Aplicar a Oferta
    </button>
    <a class="btn btn-primary" [routerLink]="['/oferta/consultar-oferta']" role="button"><span
      class="glyphicon glyphicon-menu-left"></span>Atrás</a>
  </div>

    <!--<div class="container">-->



      <!--<div class="top-buffer">-->
        <!--&lt;!&ndash;<div class="top-buffer padding-right-m padding-bottom-l">&ndash;&gt;-->
        <!--<button class="btn btn-primary" (click)="consultarEtapasOferta(detalleOferta.id)">-->
          <!--<span class="glyphicon glyphicon-search"></span> Ver Etapas-->
        <!--</button>-->
      <!--</div>-->


      <!--<hr class="sep-tt top-buffer">-->

      <!--<div class="top-buffer">-->
        <!--<button class="btn btn-primary" (click)="aplicarOferta()">-->
          <!--<span class="glyphicon glyphicon-pencil"></span>-->
          <!--Aplicar a Oferta-->
        <!--</button>-->
        <!--<a class="btn btn-primary" [routerLink]="['/oferta/consultar-oferta']" role="button"><span-->
          <!--class="glyphicon glyphicon-menu-left"></span>Atrás</a>-->
      <!--</div>-->

    <!--</div>-->

    <!--<h3>Detalle de la Oferta</h3>-->
    <!--<h4>Información Básica de la Oferta</h4>-->
    <!--<hr class="sep-tt">-->
    <!--<div class="container">-->
      <!--<div class="row top-buffer">-->
        <!--<label class="col-sm-2">Nombre:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.nombre}}</label>-->
        <!--<label class="col-sm-2">Tipo Oferta:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.id_tipo_convocatoria}}</label>-->
      <!--</div>-->

      <!--<div class="row">-->
        <!--<label class="col-sm-2">Fecha Inicio:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.fecha_inicio | date:'shortDate'}}</label>-->
        <!--<label class="col-sm-2">Fecha Fin:</label>-->
        <!--<label class="col-sm-3">{{detalleOferta.fecha_fin | date:'shortDate'}}</label>-->
      <!--</div>-->


      <!--<div class="row top-buffer">-->
        <!--<label class="col-sm-2">Descripción:</label>-->
      <!--</div>-->

      <!--<div class="row top-buffer">-->
        <!--<span class="col-sm-10">{{detalleOferta.descripcion}}</span>-->
      <!--</div>-->

      <!--<div class="row top-buffer">-->
        <!--<label class="col-sm-2">Requisitos:</label>-->
      <!--</div>-->

      <!--<div class="row top-buffer">-->
        <!--<span class="col-sm-10">{{detalleOferta.requisitos}}</span>-->
      <!--</div>-->

      <!--<div class="row top-buffer">-->
        <!--<label class="col-sm-2">Condiciones:</label>-->
      <!--</div>-->

      <!--<div class="row top-buffer">-->
        <!--<span class="col-sm-10">{{detalleOferta.condiciones}}</span>-->
      <!--</div>-->

      <!--<div class="row top-buffer">-->
        <!--<label class="col-sm-3">Información Adicional:</label>-->
      <!--</div>-->

      <!--<div class="row top-buffer">-->
        <!--<span class="col-sm-10">{{detalleOferta.informacion_adicional}}</span>-->
      <!--</div>-->

      <!--<div class="top-buffer">-->
        <!--&lt;!&ndash;<div class="top-buffer padding-right-m padding-bottom-l">&ndash;&gt;-->
        <!--<button class="btn btn-primary" (click)="consultarEtapasOferta(detalleOferta.id)">-->
          <!--<span class="glyphicon glyphicon-search"></span> Ver Etapas-->
        <!--</button>-->
      <!--</div>-->


      <!--<hr class="sep-tt top-buffer">-->

      <!--<div class="top-buffer">-->
        <!--<button class="btn btn-primary" (click)="aplicarOferta()">-->
          <!--<span class="glyphicon glyphicon-pencil"></span>-->
          <!--Aplicar a Oferta-->
        <!--</button>-->
        <!--<a class="btn btn-primary" [routerLink]="['/oferta/consultar-oferta']" role="button"><span-->
          <!--class="glyphicon glyphicon-menu-left"></span>Atrás</a>-->
      <!--</div>-->

    <!--</div>-->
</form>
